:root {
  --border: #585C61;
  --bg-40: #444649;
  --bg-30: #38393B;
  --bg-20: #2C2D2E;
  --bg-10: #292A2A;
  --bg: #1e1e1e;

  --text-40: #999999;
  --text-30: #A8ADB2;
  --text-20: #B1B1B1;
  --text-10: #D9D9D9;
  --text: #fff;
}

:root.dark-mode {
  --text-40: #444649;
  --text-30: #38393B;
  --text-20: #2C2D2E;
  --text-10: #292A2A;
  --text: #1e1e1e;
  
  --border: #bfc7cf;
  --bg-40: #d9dee2;
  --bg-30: #f8f9fa;
  --bg-20: #fcfdfd;
  --bg-10: #ffffff;
  --bg: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: var(--bg);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, li, ul, span, label, fieldset, legend, a, button {
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: block;
  color: var(--text-10);
}

#app {
  height: 100vh;
  overflow-y: hidden;
}