@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --border: #585C61;
  --bg-40: #444649;
  --bg-30: #38393B;
  --bg-20: #2C2D2E;
  --bg-10: #292A2A;
  --bg: #1e1e1e;

  --text-40: #999999;
  --text-30: #A8ADB2;
  --text-20: #B1B1B1;
  --text-10: #D9D9D9;
  --text: #fff;

  --accent: #56b3ff;
}

:root.dark-mode {
  --text-40: #444649;
  --text-30: #38393B;
  --text-20: #2C2D2E;
  --text-10: #292A2A;
  --text: #1e1e1e;
  
  --border: #bfc7cf;
  --bg-40: #d9dee2;
  --bg-30: #f8f9fa;
  --bg-20: #fcfdfd;
  --bg-10: #ffffff;
  --bg: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--border) transparent;
}

html {
  background-color: var(--bg);
}

h1, h2, h3, h4, h5, h6, p, li, ul, span, label, fieldset, legend, a, button, input {
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: block;
  color: var(--text-10);

  font-family: sans-serif;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: .025em;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  background-color: var(--bg-30);
  border: .5px solid var(--border);
  padding: .5rem .75rem;
  width: 100%;
  border-radius: .5rem;
  color: var(--text);
}

input:focus {
  outline: 1.5px solid var(--text-40);

}

#app {
  height: 100vh;
  overflow-y: hidden;
}

::-webkit-scrollbar-track {
  border-left: .5px solid var(--border);
}



